
/*HEADER STYLE*/



.header{
    justify-content: space-between;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    background-color:var(--clr-bg-dark);
}

.menu-nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.logo{
    flex: 0 0 80px;
    position:sticky;
    line-height: 80px;
}

.img-logo{
    width: 100%;
    height: auto;
    margin:14px;
    background-image: url(/imagen/logoVectoral.png);
}

.menu-ul{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 15px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: capitalize;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active{
    color: var(--clr-accent-200);
    transition: 0.5s;
}

.boton{
    color: white;
    background: none;
    border: none;
    font-size: 40px;
    margin-top: 0.5px;
    margin-bottom: 10px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;

}





#informacion-home{
    text-align: center;
    
}




/*MEDIA RESPOSIVE*/

@media (max-width: 768px) {

    .card p{
        font-size: 12.5px;
    }


    .carrusel{
        z-index: 0;
    }

    .menu-ul{
        z-index: 2;
    }

  
#parrafo-card{
    font-size: 11px;
}


    .logo{
        line-height: 50px;
    } 
    
    .menu-ul{
        display: flex;
        flex-direction: column;
        flex-flow: column;
        align-items:center;
        margin-top: 10px;
        margin-right: 0;
        background: var(--clr-accent-600);
        position:fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active{
        color: var(--clr-bg-dark);
    }

    .boton{
    display: block;
    line-height: 0px;
}

.menu-ul-visible{
    left: 0;
}

.boton:focus:not(:focus-visible){
    outline: none;
}

    
}

@media only screen and (min-width: 768px) {
    .contenedor{
        width: 100%;
        position: relative;
        height: 580px;
    }

    .cardNosotros{
        flex-wrap: none;
    }

 
} 





/*CARROUSEL*/

.contenedor{
    width: 100%;
    position: relative;
    height: 580px;
}

.botones{
    font-size: 80px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    color: var(--clr-bg-light);
    text-align:center;
    font-weight: bold;
    position: absolute;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    
}

.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.atras{
    left:2%;
    top: calc(50% - 50px);
}
.adelante{
    right: 2%;
    top: calc(50% - 50px);
}





/*Card Nosotros*/

.container{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: none;
}

.cardNosotros{
    background-color:var(--clr-bg-dark) ;
    width: 1500px;
    height:inherit;
    display: flex;
}

.cardImagen{
    flex: 0 0 50%; 
    position: relative;
}
.cardDescripcion{
    flex: 1;
    padding: 35px 35px 35px 35px;
    margin: 30px;

}




/*CARD DOBLE MENU*/
.cardContenedor{
    display: flex;
    flex-wrap: none;
    width: 100%;
    height: 430px;
    margin: auto;
    justify-content: center;

}
.cardContenedor .card{
    width: 330px;
    height: 430px;
    border-radius: 1px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.cardContenedor .card img{
    width: 330px;
    height: 220px;
}




/*BOTON*/
#botonHome{
    display: flex;
    align-items: center;
    background: var(--clr-bg-light);
    text-transform: capitalize;
    font-size: 12px;
    margin: 10px;
    height: 30px;
    letter-spacing: .1em;
    outline: none;
    border: none;
    cursor: pointer;
}


/*FOOTER*/


footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: relative;
    width: 100%;
    background-color:var(--clr-bg-dark);
    color: var(--clr-txt-white);

}

footer a{
    line-height: 80px;
    list-style-type: none;
    margin: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.logo-footer{
 
    background-image: url(/imagen/logoVectoral.png);
}

.socialMedia{
    margin-left: 1em;
}

#img-logo{
 width: 100%;
 position:unset;
 height: 2em;
}


/*NOSOTROS*/

.containerNosotros{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: none;
    overflow: hidden
}

.cardNosotros-nosotros{
    background-color:var(--clr-bg-white) ;
    width: 100%;
    height:50em;
    display: flex;
}

.cardImagen-nosotros{
    flex: 0 20 60%; 
    
    position: relative;
}
.cardDescripcion-nosotros{
    flex: 1;
    padding: 35px 35px 35px 35px;
    margin: 60px;
    margin-top: 15%;
    font-size: 20px;
}

#parrafo-card-nosotros{
   font-size: 15px;
}

/* MENU */

#contenedor-menu{
    height: auto;
    margin-bottom: 0em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: none;
    overflow: hidden;
}

.menu-bebidas{
    width: 100%;
    height:auto;
    display: flex;
    background-color: var(--clr-bg-dark);
}

.menu-comidas{
    width: 100%;
    height:auto;
    display: flex;
    background-color: var(--clr-bg-white)
}

#img-menu{
    width: 100%;
    height: auto;
}

.contenedor-imagenes{
    width: 100%;
    height: auto;
    margin-right: 1em;
    margin-top: 1em;
    margin-left: 1em;

 
}

#main-menu{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color:var(--clr-accent-600);

}

/*FORMULARIO*/

input,
select,
option,
textarea{
    padding: .5em;
    border: none;
    background: var(--clr-bg-dark);
    color: var(--clr-txt-light);
    resize: none;
    width: 100%;
    border-radius: none;
}

textarea{
    min-height: 200px;
}


form.form-contact{
    display: flex;
    flex-flow: column;
    max-width: 100%;
    width: 60%;
    margin:0 auto;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 1px;
}

form.form-contact label{
    margin-bottom: .3em;
}

form.form-contact input,
form.form-contact select,
form.form-contact textarea {
    margin-bottom: .55em;
}

form.form-contact .btn{
    margin-top: 3em ;
    padding-top: .8em;
    padding-bottom: .7em;

}

.btn-contacto{
    border-radius: .3em;
    padding: .3em 1em;
    text-align: center;
    letter-spacing: .1em;
    outline: none;
    border: none;
    cursor: grab;
}

.btn-pri{
    background: var(--clr-bg-dark);
    color: var(--clr-bg-white);
    font-weight: 600;
    text-transform: uppercase;
}

.btn-txt{
    text-decoration: underline;
    text-underline-offset: .4em;
}

.st-c{
    margin-top: .3em;
}



#formulario-caja{
    width: 100%;
    height:30em;
    display: flex;
    justify-content: space-around;
}
#imagen-formulario{
    width: 100%;
    max-width: 640px;
    height: 80%;
    margin: 10px;
    object-fit:unset;
}